<div class="modal fade" id="eliminarExtintor{{extintor.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-content-centered">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Seguro que quieres eliminar este extintor?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Selecciona "Eliminar" sí está seguro de eliminar el extintor {{extintor.n_serie}} de {{extintor.planta.empresa.nombre}} {{extintor.planta.ubicacion}}.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary" href="{{url_for('delete_extintor', id = extintor.id )}}">Eliminar</a>
            </div>
        </div>
    </div>
</div>