<!-- Modal -->
<div class="modal fade" id="extintorupdate{{extintor.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-content-centered">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Actualizar extintor {{extintor.n_serie}}</h5>
            </div>
            <div class="modal-body">
                <form action="{{url_for('update_extintor', id = extintor.id)}}" method="post" style="color: black;">
                    <div class="form-floating mb-2">
                        <input hidden type="text" class="form-control" name="n_serie" placeholder="{{extintor.n_serie}}">
                        <!-- <label for="floatingInput">Numero de serie</label> -->
                    </div>
                    <div class="form-floating mb-2">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="tipo" >
                          <option value="{{extintor.tipo}}">{{extintor.tipo}}</option>
                          <option value="PQS">Polvo quimico seco</option>
                          <option value="CO2">Bioxido de carbono</option>
                          <option value="H2O">Agua</option>
                        </select>
                        <label for="floatingSelect">Selecciona el tipo de extintor</label>
                      </div>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="floatingInput" name="capacidad" value="{{extintor.capacidad}}" >
                        <label for="floatingInput">Capacidad</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="floatingInput" name="ubicacion" value="{{extintor.ubicacion}}" >
                        <label for="floatingInput">Ubicacion</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="floatingInput" name="ph" value="{{extintor.ph_def}}">
                        <label for="floatingInput">Prueba Hidrostatica</label>
                    </div>
                    
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" name="id_planta" value="{{extintor.id_planta}}" hidden>
                        <input type="text" class="form-control" id="floatingInput" value="{{extintor.planta.empresa.nombre}} {{extintor.planta.ubicacion}}" disabled>
                        <label for="floatingPassword">Planta</label>
                      </div>
               
            </div>
            <div class="modal-footer">
                    <a class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
                    <button type="submit" class="btn btn-primary" href="#">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</div>