{% extends '/admin/base.html' %}

{% block main %}
<div class="container h-100 pt-3 bg-light">
    <h1>Estas viendo los detalles de pfzer</h1>
    <br><br><br>
    <div class="row text-center">
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="img-container">
                <a href="{{ url_for('lista_plantas', id = 2) }}">
                    <img src="../../static/img/exintores.jpg" alt="" class="img-fluid">
                    <div class="overlay-text d-flex align-items-center justify-content-center" >Ver lsita de exintores</div>
                </a>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="img-container">
                <a href="">
                    <img src="../../static/img/mantenimiento.jpg" alt="" class="img-fluid">
                    <div class="overlay-text d-flex align-items-center justify-content-center">Ver estintores en mantenimiento</div>
                </a>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="img-container">
                <a href="">
                    <img src="../../static/img/revision.jpg" alt="" class="img-fluid">
                    <div class="overlay-text d-flex align-items-center justify-content-center">ver extintores en revisión</div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}