{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for category, message in messages %}
        <script>
          Swal.fire(
              '{{ message }}',
              '',
              '{{ category }}'
          )
      </script>
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- Swal.fire({
                      title: '{{message}}',
                      icon: 'error',
                      showClass: {
                        popup: 'animate__animated animate__fadeInDown'
                      },
                      hideClass: {
                        popup: 'animate__animated animate__fadeOutUp'
                      }
                    }) -->