{% extends '/tecnicos/base.html' %}

{% block main%}
<div class="container-fluid h-100 pt-5 ">
    <div class="card shadow  w-10">
        <div class="card-header d-flex justify-content-sm-between align-items-center d-print-none">
            <h6 class="m-0 font-weight-bold text-dark">Extintores revisados</h6>
            <button type="button" class="btn btn-outline-success d-block" onclick="imprimirEstructuratecnico()">
                <i class="fa fa-print" aria-hidden="true"></i>
            </button>
            
        </div>
        <div class="card-body d-print-none">
            <div class="table-responsive">
                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                    <thead >
                        <tr>
                            <th style="padding-bottom: 1.2em; margin-top: 0; position: static; top: 10px;">N. Serie</th>
                            <th style="padding-bottom: 1.2em; margin-top: 0; position: static; top: 10px;">Ubicación</th> 
                            <th class="vertical">Capacidad</th>
                            <th style="padding-bottom: 1.2em; margin-top: 0; position: static; top: 10px;">Tipo</th>
                            <th style="padding-bottom: 1.2em; margin-top: 0; position: static; top: 10px;">Recarga</th>
                            <th style="padding-bottom: 1.1em; margin-top: 0; position: static; top: 10px;">Prox recarga</th>
                            <th class="vertical">Manometro</th>
                            <th class="vertical">Manguera</th>
                            <th class="vertical">Seguro</th>
                            <th class="vertical">Estado</th>
                            <th class="vertical">Recarga</th>
                            <th class="vertical">Señalamiento</th>
                            <th class="vertical">P.H</th>
                            <th class="vertical">Limpieza</th>
                            <th style="padding-bottom: 1.2em; margin-top: 0; position: static; top: 10px;">Observaciones</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        
                            {% for extintor in extintores%}
                            <tr>
                            <td>{{extintor.extintor.n_serie}}</td>
                            <td>{{extintor.extintor.ubicacion}}</td>
                            <td>{{extintor.extintor.capacidad}} KG</td>
                            <td>{{extintor.extintor.tipo}}</td>
                            <td>{{fecha_recarga_formateada}}</td>
                            <td>{{fecha_prox_formateada}}</td>
                            <td>
                                {% if extintor.manometro == 1 %}
                                    <i class="fas fa-check-circle" style="color: green;" ></i>
                                {% else %}
                                    <i class="fas fa-times-circle " style="color: red" ></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if extintor.manguera == 1 %}
                                    <i class="fas fa-check-circle" style="color: green;" ></i>
                                {% else %}
                                    <i class="fas fa-times-circle " style="color: red" ></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if extintor.seguro == 1 %}
                                    <i class="fas fa-check-circle" style="color: green;" ></i>
                                {% else %}
                                    <i class="fas fa-times-circle " style="color: red" ></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if extintor.estado == 1 %}
                                    <i class="fas fa-check-circle" style="color: green;" ></i>
                                {% else %}
                                    <i class="fas fa-times-circle " style="color: red" ></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if extintor.recarga == 0 %}
                                    <i class="fas fa-check-circle" style="color: green;" ></i>
                                {% else %}
                                    <i class="fa-regular fas fa-registered" style="color: green;"></i>
                                {% endif %}
                            </td>                            
                            <td>
                                {% if extintor.señalamiento == 1 %}
                                    <i class="fas fa-check-circle" style="color: green;" ></i>
                                {% else %}
                                    <i class="fas fa-times-circle " style="color: red" ></i>
                                {% endif %}
                            </td>
                            <td>{{extintor.ph}}</td>
                            <td>
                                {% if extintor.limpieza == 1 %}
                                    <i class="fas fa-check-circle" style="color: green;" ></i>
                                {% else %}
                                    <i class="fas fa-times-circle " style="color: red" ></i>
                                {% endif %}
                            </td>
                            <td>{{extintor.Observaciones}}</td>
                        </tr>
                            {%endfor%}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="../static/bootstrap/js/bootstrap.bundle.js"></script>


<div class="container h-100 d-none d-print-block" style="color: #111; position: absolute; top: 3em; left: 2.5em;">
    <div class="row w-100" style="border: 1px solid #111; border-bottom: none;">
        <div class="col-4 p-2">
            <img src="../../static/img/logo-removebg-preview.png" alt="" width="98%">
        </div>
        <div class="col-8 p-2" style="font-size: 1.8em; text-align: center; border-left: 1px solid #111;">Reporte de exintores</div>
    </div>
    <div class="row w-100" style="border: 1px solid #111; border-bottom:none; font-size: 12px">
        <div class="col-4" >PFIZER, S.A DE C.V</div>
        <div class="col-4" style="border-left: 1px solid #111">{{user.planta.nombre}} {{user.planta.ubicacion}}</div>
        <div class="col-4" style="border-left: 1px solid #111">{{fecha}}</div>
    </div>
    <div class="row w-100" style="border: 1px solid #111; border-bottom: none;">
        <div class="col-4">
            <p>Realizo:</p>
            <br>
            <p style="border-bottom: 1.5px solid #111; width: 80%; padding-bottom: 0; margin-bottom: 0;"></p>
            <p style="padding-top: 0; margin-top: 0;">NOMBRE Y FIRMA DEL TECNICO</p>
        </div>
        <div class="col-8" style="height: 20%; color: #111; border-left:1px solid #111 ; padding-bottom: 0;">
            <p>Realizo:</p>
            <br>
            <p style="border-bottom: 1.5px solid #111; width: 50%; padding-bottom: 0; margin-bottom: 0;"></p>
            <p style="padding-bottom: 0; margin-top: 0; font-size: .9em;">NOMBRE Y FIRMA DEL TECNICO</p>
        </div>
    </div>
    <div class="row d-block w-100">
        <table class="table w-100" id="reporte_mensual_tecnico" >
            <thead >
                <tr style="font-size: 11px;">
                    <th style="border: 1px solid #111;  width: 10%;"><p style="position: relative; bottom: 1em;">N. Serie</p></th>
                    <th style="border: 1px solid #111;  width: 20%; "><p style="position: relative; bottom: 1em;">Ubicación</p></th> 
                    <th class="vertical" style="border: 1px solid #111;  width: 0%;">Capacidad</th>
                    <th style="border: 1px solid #111;  width: 5%;"><p style="position: relative; bottom: 1em;">Tipo</p></th>
                    <th style="border: 1px solid #111;  width: 10%;"><p style="position: relative; bottom: 1em;">Recarga</p></th>
                    <th style="border: 1px solid #111;  width: 10%;"><p style="position: relative; bottom: .4em;">Prox recarga</p></th>
                    <th class="vertical" style="border: 1px solid #111;  width: 0%; margin: 0; padding: auto 0 ;">Manometro</th>
                    <th class="vertical" style="border: 1px solid #111;  width: 0%; margin: 0; padding: auto 0 ;">Manguera</th>
                    <th class="vertical" style="border: 1px solid #111;  width: 0%; margin: 0; padding: auto 0 ;">Seguro</th>
                    <th class="vertical" style="border: 1px solid #111;  width: 0%; margin: 0; padding: auto 0 ;">Estado</th>
                    <th class="vertical" style="border: 1px solid #111;  width: 0%; margin: 0; padding: auto 0 ;">Recarga</th>
                    <th class="vertical" style="border: 1px solid #111;  width: 0%; margin: 0; padding: auto 0 ;">Señalamiento</th>
                    <th class="vertical" style="border: 1px solid #111;  width: 6%; margin: 0; padding: auto 0 ;">P.H</th>
                    <th class="vertical" style="border: 1px solid #111;  width: 0%; margin: 0; padding: auto 0 ;">Limpieza</th>
                    <th style="border: 1px solid #111;  width: 40%;"><p style="position: relative; bottom: 1em;">Observaciones</p></th>
                </tr>
            </thead>
            <tbody>
                            
                {% for extintor in extintores%}
                <tr style="font-size: 10px;">
                    <td style="border: 1px solid #111; margin: 0; background-color: aliceblue;">{{extintor.extintor.n_serie}}</td>
                    <td style="border: 1px solid #111;">{{extintor.extintor.ubicacion}}</td>
                    <td style="border: 1px solid #111;">{{extintor.extintor.capacidad}}</td>
                    <td style="border: 1px solid #111;">{{extintor.extintor.tipo}}</td>
                    <td style="border: 1px solid #111;">{{fecha_recarga_formateada}}</td>
                    <td style="border: 1px solid #111;">{{fecha_prox_formateada}}</td>
                    <td style="border: 1px solid #111;">
                        {% if extintor.manometro == 1 %}
                            <i class="fas fa-check-circle" style="color: green;" ></i>
                        {% else %}
                            <i class="fas fa-times-circle " style="color: red" ></i>
                        {% endif %}
                    </td>
                    <td style="border: 1px solid #111;">
                        {% if extintor.manguera == 1 %}
                            <i class="fas fa-check-circle" style="color: green;" ></i>
                        {% else %}
                            <i class="fas fa-times-circle " style="color: red" ></i>
                        {% endif %}
                    </td>
                    <td style="border: 1px solid #111;">
                        {% if extintor.seguro == 1 %}
                            <i class="fas fa-check-circle" style="color: green;" ></i>
                        {% else %}
                            <i class="fas fa-times-circle " style="color: red" ></i>
                        {% endif %}
                    </td>
                    <td style="border: 1px solid #111;">
                        {% if extintor.estado == 1 %}
                            <i class="fas fa-check-circle" style="color: green;" ></i>
                        {% else %}
                            <i class="fas fa-times-circle " style="color: red" ></i>
                        {% endif %}
                    </td>
                    <td style="border: 1px solid #111;">
                        {% if extintor.recarga == 0 %}
                            <i class="fas fa-check-circle" style="color: green;" ></i>
                        {% else %}
                            <i class="fa-regular fas fa-registered" style="color: green;"></i>
                        {% endif %}
                    </td>                            
                    <td style="border: 1px solid #111;">
                        {% if extintor.señalamiento == 1 %}
                            <i class="fas fa-check-circle" style="color: green;" ></i>
                        {% else %}
                            <i class="fas fa-times-circle " style="color: red" ></i>
                        {% endif %}
                    </td>
                    <td style="border: 1px solid #111; width: 5%; text-align: center;">{{extintor.ph}}</td>
                    <td style="border: 1px solid #111;;">
                        {% if extintor.limpieza == 1 %}
                            <i class="fas fa-check-circle" style="color: green;" ></i>
                        {% else %}
                            <i class="fas fa-times-circle " style="color: red" ></i>
                        {% endif %}
                    </td>
                    <td style="border: 1px solid #111;">{{extintor.Observaciones}}</td>
                </tr>
                    {%endfor%}            
            </tbody>
        </table>
    </div>
</div>

<script>
    function imprimirEstructuratecnico() {
            // Obtén la tabla específica por su identificador
            var tabla = document.getElementById('reporte_mensual_tecnico');

            if (tabla) {
                // Oculta las demás tablas antes de imprimir
                // var todasLasTablas = document.getElementsByTagName('table');
                // for (var i = 0; i < todasLasTablas.length; i++) {
                //     todasLasTablas[i].style.display = 'none';
                // }

                // Muestra solo la tabla que quieres imprimir
                tabla.style.display = 'block';
                tabla.style.display = 'table';

                // Llama a la función de impresión
                window.print();

                // Restaura la visibilidad de todas las tablas después de imprimir
                // for (var i = 0; i < todasLasTablas.length; i++) {
                //     todasLasTablas[i].style.display = 'table';
                // }
            } else {
                console.error('No se encontró la tabla con el identificador "reporte_mensual"');
            }
        }
</script>

<style>
    th.vertical {
        writing-mode: vertical-rl; /* Esto hará que el texto sea vertical de arriba a abajo */
        text-orientation: sideways-right; /* Esto ajustará la orientación del texto */
        white-space: nowrap; /* Evita que el texto se desborde */
    }
  </style>




{% endblock %}